# Virtual environment
.venv/
venv/
env/
myenv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# PyCharm settings
.idea/

# Environment variables
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# OS files
.DS_Store
Thumbs.db